{% extends 'base.html.twig' %}

{% block title %}Deforestation Mada{% endblock %}
{% block header %}
{# <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h2 class="mx-auto my-0 text-uppercase">Déforestation mada</h2>
                        <p class="text-white-50 mx-auto mt-2 mb-5">A free, responsive, one page Bootstrap theme created by Start Bootstrap.</p>
            
                    </div>
                </div>
            </div>
</header> #}
{% endblock %}

{% block body %}
<div id="root"></div>
{# <div class="content-home">

    <div class="info">
        <h4 class="home-title">Nous parlons sur les informations sur la déforestation à Madagascar</h4>
        <p class="text-black-50 mb-0">Vestibulum congue, quam nec tempor rhoncus, metus sapien fringilla metus, ut molestie orci augue ut lectus. Pellentesque ut finibus nibh. Nulla facilisi. Suspendisse orci nibh, venenatis id purus id, efficitur consequat neque. Maecenas neque enim, dignissim placerat hendrerit ac, consectetur sed nunc. Suspendisse auctor augue metus, vel finibus nisi gravida et. Nullam bibendum risus id sem viverra, eget bibendum leo ultrices. Praesent porttitor metus eget velit males</p>


    </div>
    <div class="doleance-home">
        <h4 class="home-title">Nous pouvons recevoir vos doléances</h4>
        <div class="row">
            <div class="col-md-6 img-container">
                <img src={{ asset("/build/images/demo-image-01.jpg") }} />
            </div>
            <div class="col-md-6">
                <p class="text-black-50 mb-0">Vestibulum congue, quam nec tempor rhoncus, metus sapien fringilla metus, ut molestie orci augue ut lectus. Pellentesque ut finibus nibh. Nulla facilisi. Suspendisse orci nibh, venenatis id purus id, efficitur consequat neque. Maecenas neque enim, dignissim placerat hendrerit ac, consectetur sed nunc. Suspendisse auctor augue metus, vel finibus nisi gravida et. Nullam bibendum risus id sem viverra, eget bibendum leo ultrices. Praesent porttitor metus eget velit males</p>
            </div>
        </div>
        
    </div>
    <div class="blog-home">
        <h4 class="home-title">Blog</h4>
        <p class="text-black-50 mb-0">Vestibulum congue, quam nec tempor rhoncus, metus sapien fringilla metus, ut molestie orci augue ut lectus. Pellentesque ut finibus nibh. Nulla facilisi. Suspendisse orci nibh, venenatis id purus id, efficitur consequat neque. Maecenas neque enim, dignissim placerat hendrerit ac, consectetur sed nunc. Suspendisse auctor augue metus, vel finibus nisi gravida et. Nullam bibendum risus id sem viverra, eget bibendum leo ultrices. Praesent porttitor metus eget velit males</p>


    </div>
</div> #}




{% endblock %}
